@include keyframes(bounceIn) {
  0% {opacity: 0; transform: scale(.3);}
  50% {opacity: 1; transform: scale(1.05);}
  70% {transform: scale(.9);}
  100% {transform: scale(1);}
}

@mixin bounceIn($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(bounceIn);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}
