@-webkit-keyframes rotateOutDownRight {
	0% {-webkit-transform-origin: right bottom; -webkit-transform: rotate(0); opacity: 1;}
	100% {-webkit-transform-origin: right bottom; -webkit-transform: rotate(-90deg); opacity: 0;}
}

@-moz-keyframes rotateOutDownRight {
	0% {-moz-transform-origin: right bottom; -moz-transform: rotate(0); opacity: 1;}
	100% {-moz-transform-origin: right bottom; -moz-transform: rotate(-90deg); opacity: 0;}
}

@-ms-keyframes rotateOutDownRight {
	0% {-ms-transform-origin: right bottom; -ms-transform: rotate(0); opacity: 1;}
	100% {-ms-transform-origin: right bottom; -ms-transform: rotate(-90deg); opacity: 0;}
}

@-o-keyframes rotateOutDownRight {
	0% {-o-transform-origin: right bottom; -o-transform: rotate(0); opacity: 1;}
	100% {-o-transform-origin: right bottom; -o-transform: rotate(-90deg); opacity: 0;}
}

@keyframes rotateOutDownRight {
	0% {transform-origin: right bottom; transform: rotate(0); opacity: 1;}
	100% {transform-origin: right bottom; transform: rotate(-90deg); opacity: 0;}
}

@mixin rotateOutDownRight($duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
	@include animation-name(rotateOutDownRight);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}
