@include keyframes(rotateOutUpLeft) {
	0% {
  	opacity: 1;
  	transform-origin: left bottom;
  	@include transform(rotate(0));
  }
 100% {
   opacity: 0;
   transform-origin: left bottom;
   @include transform(rotate(-90deg));
  }
}

@mixin rotateOutUpLeft($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(rotateOutUpLeft);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}
