@include keyframes(rotateOut) {
	0% {
  	opacity: 1;
  	transform: rotate(0);
  	transform-origin: center center;
  }
	100% {
  	opacity: 0;
  	transform: rotate(200deg);
  	transform-origin: center center;
  }
}

@mixin rotateOut($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(rotateOut);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}
