@include keyframes(rotateOutDownLeft) {
	0% {transform-origin: left bottom; transform: rotate(0); opacity: 1;}
	100% {transform-origin: left bottom; transform: rotate(90deg); opacity: 0;}
}

@mixin rotateOutDownLeft($duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
	@include animation-name(rotateOutDownLeft);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}
