@include keyframes(rotateOutDownRight) {
	0% {transform-origin: right bottom; transform: rotate(0); opacity: 1;}
	100% {transform-origin: right bottom; transform: rotate(-90deg); opacity: 0;}
}

@mixin rotateOutDownRight($duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
	@include animation-name(rotateOutDownRight);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}
