@include keyframes(fadeOutRight) {
  0% {opacity: 1; transform: translateX(0);}
  100% {opacity: 0; transform: translateX(20px);}
}

@mixin fadeOutRight($duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(fadeOutRight);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}
