@include keyframes(fadeInLeftBig) {
    0% {opacity: 0; transform: translateX(-2000px);}
  100% {opacity: 1; transform: translateX(0);}
}

@mixin fadeInLeftBig($duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(fadeInLeftBig);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}
