@keyframes fadeInRightBig {
  0% {opacity: 0; transform: translateX(2000px);}
  100% {opacity: 1; transform: translateX(0);}
}

@mixin fadeInRightBig($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  animation-name: fadeInRightBig;
  animation-iteration-count: $count;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-timing-function: $function;
  animation-fill-mode: $fill;
  backface-visibility: $visibility;
}
