@include keyframes(fadeInRightBig) {
  0% {opacity: 0; transform: translateX(2000px);}
  100% {opacity: 1; transform: translateX(0);}
}

@mixin fadeInRightBig($duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(fadeInRightBig);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}
