@keyframes fadeInDownBig {
    0% {opacity: 0; transform: translateY(-2000px);}
  100% {opacity: 1; transform: translateY(0);}
}

@mixin fadeInDownBig($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  animation-name: fadeInDownBig;
  animation-iteration-count: $count;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-timing-function: $function;
  animation-fill-mode: $fill;
  backface-visibility: $visibility;
}
