@keyframes flipOutY {
  0% {transform: perspective(400px) rotateY(0deg); opacity: 1;}
  100% {transform: perspective(400px) rotateY(90deg); opacity: 0;}
}

@mixin flipOutY($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  animation-name: flipOutY;
  animation-iteration-count: $count;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-timing-function: $function;
  animation-fill-mode: $fill;
  backface-visibility: $visibility;
}
