@keyframes flipInX {
  0% {transform: perspective(400px) rotateX(90deg); opacity: 0;}
  40% {transform: perspective(400px) rotateX(-10deg);}
  70% {transform: perspective(400px) rotateX(10deg);}
  100% {transform: perspective(400px) rotateX(0deg); opacity: 1;}
}

@mixin flipInX($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  animation-name: flipInX;
  animation-iteration-count: $count;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-timing-function: $function;
  animation-fill-mode: $fill;
  backface-visibility: $visibility;
}
