@include keyframes(flipOutY) {
  0% {transform: perspective(400px) rotateY(0deg); opacity: 1;}
  100% {transform: perspective(400px) rotateY(90deg); opacity: 0;}
}

@mixin flipOutY($duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(flipOutY);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}
