@include keyframes(flipOutX) {
  0% {transform: perspective(400px) rotateX(0deg); opacity: 1;}
  100% {transform: perspective(400px) rotateX(90deg); opacity: 0;}
}

@mixin flipOutX($duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(flipOutX);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}
