@keyframes flip {
  0% {transform: perspective(400px) rotateY(0); animation-timing-function: ease-out;}
  40% {transform: perspective(400px) translateZ(150px) rotateY(170deg); animation-timing-function: ease-out;}
  50% {transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1); animation-timing-function: ease-in;}
  80% {transform: perspective(400px) rotateY(360deg) scale(.95); animation-timing-function: ease-in;}
  100% {transform: perspective(400px) scale(1); animation-timing-function: ease-in;}
}

@mixin flip($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  transform-style: preserve-3d;
  animation-name: flip;
  animation-iteration-count: $count;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-timing-function: $function;
  animation-fill-mode: $fill;
  backface-visibility: $visibility;
}
