@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

@mixin bounce($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
	animation-name: bounce;
	animation-iteration-count: $count;
  animation-duration: $duration;
	animation-delay: $delay;
	animation-timing-function: $function;
	animation-fill-mode: $fill;
	backface-visibility: $visibility;
}
